
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 252, 234);
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.824);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
}


nav a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 10px;
    transition: 0.25s ease;
}


nav a:hover {
    background: #e8f0ff;
    color: #725454;
    transform: translateY(-2px);
}
